.flex {
  @include flex;

  &--center {
    @include flex-all;
  }

  &--center-y {
    @include align-items(center);
  }

  &--center-x {
    @include justify-content(center);
  }

  &--right {
    margin-left: auto;
  }

  &--column {
    @include flex-direction(column);
  }
  &--fill {
    flex: 1;
  }
}

.margin-divide {
  > * {
    margin-left: 7px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.divider {
  &--b10 {
    margin-bottom: 10px;
  }

  &--b40 {
    margin-bottom: 40px;
  }

  &--b30 {
    margin-bottom: 30px;
  }

  &--b50 {
    margin-bottom: 50px;
  }


  &--b70 {
    margin-bottom: 70px;
  }

  &--t10 {
    margin-top: 10px;
  }

  &--t20 {
    margin-top: 20px;
  }
  &--t30 {
    margin-top: 30px;
  }


  &--t40 {
    margin-top: 40px;
  }

  &--t90 {
    margin-top: 90px;
  }
  &--r15 {
    margin-right: 15px;
  }
}

.divide-line {
  height: 1px;
  width: 100%;
  display: block;
  background-color: $color-dark-2;
}

.list-options {
  .list-item {
    font-family: $D-DINCondensed;
    line-height: 26px;
    font-size: 19px;

    b {
      font-family: $D-DINCondensed-Bold;
    }
  }
}

.colored {
  &--redrose {
    color: $color-pink;
  }
  &--yellow {
    color: $color-yellow;
  }
}

.title-area {
  .title {

  }
}

.text-area {
  font-size: 18px;
  font-family: $D-DINCondensed;
  line-height: 24px;
  letter-spacing: 1.12px;
}

.positionDeviceClear {
  @include align-items(flex-start);
  @include justify-content(flex-start);

  @include max-min(max toPx($device-tablet)) {
    @include align-items(flex-start);
    @include justify-content(flex-start);
  }
}

.padder {
  &--content {
    padding: 30px;
  }
}

.price-tag {
  font-family: $D-DIN;
  font-size: 18px;

}

.tutorial-btn {
  .btn {
    &--simple {
      padding: 12px 20px;
      height: 40px;
      color: $oc-black;
    }
  }
}

a {
  font-size: 17px;
  font-family: $D-DINCondensed;
  text-decoration: none;
  display: block;
  color: #F3F3F3;
}
