.flex {
  @include flex;

  &--wrap {
    flex-wrap: wrap;
  }

  &--md--col {
    @include max-min(max toPx($device-tablet)) {
      @include flex-direction(column);
    }
  }

  &--center {
    @include flex-all;
  }

  &--center-y {
    @include align-items(center);
  }

  &--center-x {
    @include justify-content(center);
  }

  &--right {
    margin-left: auto;
  }


  &--right--md {
    @include max-min(max toPx($device-tablet)) {
      margin-left: initial;
    }
  }

  &--column {
    @include flex-direction(column);
  }

  &--fill {
    flex: 1;
  }
}

.margin-divide {
  > * {
    margin-left: 7px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.divider {
  &--b10 {
    margin-bottom: 10px;
  }

  &--b40 {
    margin-bottom: 40px;
  }

  &--b30 {
    margin-bottom: 30px;
  }

  &--b50 {
    margin-bottom: 50px;
  }


  &--b70 {
    margin-bottom: 70px;
  }

  &--t10 {
    margin-top: 10px;
  }

  &--t20 {
    margin-top: 20px;
  }

  &--t30 {
    margin-top: 30px;
  }


  &--t40 {
    margin-top: 40px;
  }

  &--t90 {
    margin-top: 90px;
  }

  &--r15 {
    margin-right: 15px;
  }
}

.divide-line {
  height: 1px;
  width: 100%;
  display: block;
  background-color: $color-dark-2;
}

.list-options {
  .list-item {
    font-family: $D-DINCondensed;
    line-height: 26px;
    font-size: 19px;

    b {
      font-family: $D-DINCondensed-Bold;
    }
  }
}

.colored {
  &--redrose {
    color: $color-pink;
  }

  &--yellow {
    color: $color-yellow;
  }
}

.title-area {
  .title {

  }
}

.text-area {
  font-size: 18px;
  font-family: $D-DINCondensed;
  line-height: 24px;
  letter-spacing: 1.12px;
}

.positionDeviceClear {
  @include align-items(flex-start);
  @include justify-content(flex-start);

  @include max-min(max toPx($device-tablet)) {
    @include align-items(flex-start);
    @include justify-content(flex-start);
  }
}

.padder {
  &--content {
    padding: 30px;
  }
}

.price-tag {
  font-family: $D-DIN;
  font-size: 18px;

}

.tutorial-btn {
  .btn {
    &--simple {
      padding: 12px 20px;
      height: 40px;
      color: $oc-black;
    }
  }
}

a {
  font-size: 17px;
  font-family: $D-DINCondensed;
  text-decoration: none;
  display: block;
  color: #F3F3F3;
}

.secure-list-item {
  &--position {
    @include flex;
    font-size: 18px;
    height: 100%;
    padding-right: 20px;

    &--c {
      @include flex-direction(column);

      .secure-list-item--desc {
        padding-top: 20px;
      }

      &--color {
        &--green {

          .secure-list-item--title {
            background-color: $oc-green-5;
          }

          .secure-list-item--image {
            background-color: $oc-green-5;
          }
        }

        &--yellow {

          .secure-list-item--title {
            background-color: $oc-yellow-6;
          }

          .secure-list-item--image {
            background-color: $oc-yellow-6;
          }
        }
      }

    }
  }


  &--bg {
    padding: 20px;
    background-color: rgba($color-gray, 1);
  }

  &--title {
    font-size: 24px;
    font-family: $D-DINCondensed-Bold;
    line-height: 28px;
    margin-bottom: 7px;
  }

  &--text {
    font-size: 20px;
    font-family: $D-DINCondensed;
    line-height: 28px;
    &--p {
      padding-top: 20px;

    }
  }

  &--image {
    margin-right: 20px;
    @include size(57px);
    padding: 8px;
    background-color: $color-pink;

    &--green {
      background-color: $oc-green-4;
    }

    img {
      height: 100%;
    }
  }

  &--titler {
    @include flex;
    @include align-items(center);

    .secure-list-item--title {
      @include flex;
      @include align-items(center);
      margin-left: -20px;
      height: 100%;
      margin-bottom: 0;
      color: $oc-black;
      padding: 0 20px;
      background-color: $color-pink;
    }

    .secure-list-item--image {
    }

  }

}

.add_to_homescreen {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $color-gray;
  color: $oc-white;
  padding: 20px;
  z-index: 55555;
  user-select: none;

  .add-home-btn {
    outline: none;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-family: $D-DIN-Bold;
    padding: 16px 45px;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    position: relative;
    margin-top: 12px;
    color: $color-pink;
    background-color: $color-dark-2;
  }

}
