.main-container {
  position: relative;
  &--wrap {
    max-width: 1920px;

    &--small {
      max-width: 1440px;
    }

    &--extra-small {
      max-width: 1000px;
    }
  }

  &--header {
    height: 80px;

    @include max-min(min toPx($device-tablet)) {
      height: initial;
    }
  }
  &--gallery {
    @include max-min(max toPx($device-tablet)) {
      padding-left: 0;
      padding-right: 0;

      .container-title {
        padding:  0 15px;
      }
    }
  }
}

.theme-wrap {
  &--position {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    @include flex;
    @include flex-direction(column);
    flex: 1;
  }
}
