.alert-area {
  &--simple {

  }

  &--divider {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .simple-alert {
    padding: 4px;
    @include flex;
    @include align-items(center);
    font-family: $D-DIN;
    font-size: 16px;
    border: 1px solid $color-pink;

    .icon-area {
      @include size(27px);
      @include flex-all;
      background-color: $color-pink;
      margin-right: 15px;
      padding: 6px;

      svg {
        height: 100%;
        fill: #fff;
      }

      img {
        height: 100%;
        display: block;
      }
    }

    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }


    @include max-min(max toPx($device-tablet)) {
      @include align-items(flex-start);
    }

  }

}
