.btn {
  &--simple {
    outline: none;
    border: none;
    @include flex-all;
    font-size: 16px;
    font-family: $D-DIN;
    padding: 16px 45px;
    color: $color-dark;
    cursor: pointer;
    text-decoration: none;
    transition: all .25s ease-in-out;
    position: relative;
  }

  .icon-area {
    margin-right: 10px;
    @include flex-all;
  }

  .coming-soon {
    position: absolute;
    top: 0;
    right: 15px;
    transform: translateY(-50%);
    background-color: $color-yellow;
    color: $color-dark-2;
    padding: 4px 5px;
    font-size: 14px;
    font-family: $D-DIN-Italic;
  }

  &--disabled {
    pointer-events: none;
  }

  @include max-min(max toPx($device-tablet)) {
    padding: 12px 25px;
  }

  &--yellow {
    background-color: $color-yellow;

    &:hover {
      background-color: darken($color-yellow, 11%);
    }
  }

  &--red {
    background-color: $color-pink;
    color: $color-light-1;
    &:hover {
      background-color: darken($color-pink, 11%);
    }
  }


  &--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $oc-white;
    color: $oc-white;

    &:hover {
      color: $color-dark-2;
      background-color: $oc-white;
    }

    &--yh {
      &:hover {
        box-shadow: inset 0 0 0 0 transparent;
        background-color: darken($color-yellow, 11%);
      }
    }
  }



  @include max-min(max toPx($device-tablet)) {
    &--device {
      &--full {
        padding: 16px 45px;
        width: 100%;
      }
    }
  }
}
