
.dot-pattern {
    background-image: url("../../img/v2/dot-pattern.svg");
    background-repeat: repeat;
    &--wrap {
      position: relative;
    }
    &.ab {
      position: absolute;
    }


  }
