.header {
  &--position {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    padding: 0 15px;
    width: 100%;
    min-height: 80px;

    @include max-min(min toPx($device-tablet)) {
      position: relative;
      padding: initial;
    }

  }

  &.scrolled {
    background-color: rgba($color-dark-2, .75);
  }

  &.flex {
    @include flex;
  }

  .logo-side {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80px;

    a {
      display: block;

      img {
        display: block;
      }
    }
  }

  .menu-side {
    margin-left: auto;

    .nav {
      display: none;

      @include max-min(min toPx($device-tablet + 1)) {
        @include flex;
      }

      a {
        @include flex;
        text-decoration: none;
        color: $oc-white;
        font-size: 19px;
        font-family: $D-DINCondensed;
        line-height: 22px;
        padding: 28px 0 0 0;
        transition: all .25s ease;
        border-top: 2px solid transparent;

        &:hover {
          color: $color-sky;
        }
      }

      li {
        margin-left: 40px;

        &:first-child {
          margin-left: 0;
        }

        &.active {
          a {
            color: $color-sky;
            border-top-color: $color-sky;
            //box-shadow: inset -2px 4px -2px $color-sky;
          }
        }

        &.disabled {
          a {
            color: #636363;
            //box-shadow: inset -2px 4px -2px $color-sky;
            pointer-events: none;
          }
        }
      }
    }

    .button-area {
      @include flex;
      @include align-items(center);
      margin-left: 60px;

      .btn {
        display: none;
        @include max-min(min toPx($device-tablet)) {
          @include flex-all;
        }
      }
    }
  }
}
