.user-profile {
  &--card {
    padding: 40px;
    background-color: $color-gray;
    width: 380px;
    margin-right: 20px;
    position: relative;

    @include max-min(max toPx($device-tablet)) {
      max-width: 100%;
      width: 100%;
      margin-right: 0;
    }
  }

  .user-aside {
    @include flex;

    .image-area {
      margin-right: 20px;
      max-width: 120px;

      img {
        width: 100%;
        display: block;
      }
    }

    .text-side {

    }

    .user-name {
      font-size: 30px;
      font-family: $D-DINCondensed;
      margin-bottom: 15px;
      word-break: break-word;
      max-width: 150px;
      line-height: 34px;
    }

    .user-balance {
      @include flex;
      @include flex-direction(column);

      .balance-label {
        margin-bottom: 10px;
        font-size: 20px;
        font-family: $D-DIN;
      }

      .numb {
        font-family: $D-DINCondensed;
        font-size: 30px;
        color: $color-yellow;
        display: block;
        line-height: 35px;
      }

    }

  }
  .settings-btn {
    position: absolute;
    top: 0;
    right: 0;
    @include flex-all;
    a {
      @include size(40px);
      @include flex-all;
      background-color: $oc-black;
      &:hover {
        background-color: $color-pink;
      }
    }
  }
}

.user-table-card {
  background-color: $color-gray;

  .table-component {
    width: 100%;
  }
}

.user-profile-area {
  @include flex;
  flex-wrap: wrap;
  @include align-items(flex-start);

  @include max-min(max toPx($device-tablet)) {
    margin-right: 0;
  }
}

.user-settings {
  max-width: 1000px;
  padding: 40px;
  background-color: $color-gray;
  width: 100%;

  @include max-min(max toPx(1000)) {
    padding: 20px;
  }
  .side-control {
    @include flex;
    flex-wrap: wrap;

    @include max-min(max toPx(1000)) {
      @include flex-direction(column);
    }

  }

  .side-a {
    max-width: 250px;
    width: 250px;

    @include max-min(max toPx(1000)) {
      max-width: 100%;
      width: 100%;
    }
    .avatar-side {
      @include flex;
      @include justify-content(center);

      .image {
        width: 104px;
        img {
          display: block;
          width: 100%;
        }
      }
      margin-bottom: 40px;
    }
    .form-control {
      margin-top: 40px;
    }
  }

  .changepass {
    &.active {
      color: $color-yellow;
    }
  }

  .side-b {
    margin-left: auto;
    width: 580px;

    @include max-min(max toPx(1000)) {
      max-width: 100%;
      width: 100%;
    }
  }

  .change-password-areal {
    display: none;
  }

}

.modal-gallery {
  &--main {
    @include flex;
    @include flex-direction(column);
    padding: 20px 20px;
    max-width: 780px;
    width: 780px;
    background-color: $color-dark-2;
    max-height: 440px;
    overflow-y: auto;

    .image-area {
      height: 100%;
      width: 100%;
    }

    .image-area img {
      height: 100%;
      display: block;
    }

    @include max-min(max toPx($device-tablet)) {
      height: 100%;
      max-height: 100%;
      padding-bottom: 100px;
    }

    .hidden-form {
      @include size(0px);
      visibility: hidden;
      opacity: 0;
    }

  }



  .btn-area {
    @include max-min(max toPx($device-tablet)) {
      padding: 30px;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;

      .flex--right {
        margin-left: initial;
        flex: 1;
      }

      .btn {
        &--simple {
          width: 100%;
        }
      }

    }
  }

  &--item {
    @include flex-all;

    .insides {
      background-color: $color-dark-2;
      box-shadow: 0 0 0 3px $color-gray;
      width: 100%;
      height: 165px;
      @include flex-all;
      margin-top: 30px;
      transition: all .125s ease-in-out;
      cursor: pointer;

      &.padder {
        padding: 7px;
      }


      .image-area {
        @include flex-all;
        img {
          height: 100%;
          display: block;
        }
      }

      &:hover {
        box-shadow: 0 0 0 3px lighten($color-gray, 9%);
      }
    }

    @include max-min(max toPx($device-tablet - 1)) {

      &:nth-child(-n+2) {

        .insides {
          margin-top: 0;
        }

      }
    }

    @include max-min(max toPx(575)) {

      &:nth-child(-n+1) {

        .insides {
          margin-top: 0;
        }

      }
      &:nth-child(-n+2) {

        .insides {
          margin-top: 30px;
        }

      }
    }

    @include max-min(min toPx(1000)) {
      &:nth-child(-n+4) {
        .insides {
          margin-top: 0;
        }
      }
    }

    &.active {
      .insides {
        box-shadow: 0 0 0 3px $color-pink;
      }
    }

  }

}
